<%- include('partials/header') %>

<style type="text/css">
  body {
    background-image: url(https://www.russiatimes.org/wp-content/uploads/2014/05/lego_robot_wallpaper_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210%;
  }
</style>

<div class="container float-left">
  <header class="blog-header py-3">
  </header>


  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">What is LabKit?</h1>
    </div>
    <p class="lead my-3">LabKit is an intuitve website created by a computer science student for the robotics lab.</p>
    <p class="lead mb-0"><a href="/login" class="text-white font-weight-bold">Get Started...</a></p>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Robotics</strong>
          <h3 class="mb-0">Kits</h3>
          <hr>
          <p class="card-text mb-auto">Discover all the kits offered by our robotics lab.</p>
          <a href="/kits" class="stretched-link">Show me the kit page</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="2" height="2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img style="width:210px" src="https://1qamu1482je0377gv43ewuwb-wpengine.netdna-ssl.com/wp-content/uploads/2019/10/LEGO-Robo-Explorer-Toy-263x300.jpg"></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Help</strong>
          <h3 class="mb-0">Contact Us</h3>
          <hr>
          <p class="mb-auto">Need help? have concerns? Do not be afraid to contact us!</p>
          <a href="/contact" class="stretched-link">I want to contact LabKit</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="2" height="2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img style="width:240px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSemS5sKsxNxEzfVTm-mafdwVX_EZAhD_W5g&usqp=CAU"></svg>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>