<%- include('partials/header') %>

<style type="text/css">
  body {
    background-image: url(https://www.russiatimes.org/wp-content/uploads/2014/05/lego_robot_wallpaper_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210%;
  }
  i {
  	padding-right: 10px;
  	padding-left: 10px;
  }
  hr {
  	width: 500px;
  }
  .container {
  	padding-top: 20px;
  	font-size: 125%;
  }
</style>

<div class="container float-left">
	<div class="jumbotron">
		<h1 class="text-center"><strong>CONTACT US</strong>  <span><i class="far fa-smile"></i></span></h1>
		<hr>
	  <div class="row col-sm-11">
	  	<p>If you have any doubts or complaints, feel free to visit us at the location provided below or contact us through email or phone. </p>
	    <div class="col-sm-8">
	      <p><span><i class="fas fa-map-marker"></i></span>Robotics Lab, Beside the Art Room, 1st Floor.</p>
	      <p><span><i class="fas fa-phone-square"></i></span> +971 123456789</p>
	      <p><span><i class="fas fa-inbox"></i></span> official.labkit@gmail.com</p>
	    </div>
	  </div>
	</div>
</div>

<%- include('partials/footer') %>