<%- include('../partials/header') %>

<div class="container">
		<h1 style="text-align: center; padding-top: 2%;">Add a New Review to the <%= kit.type %> Kits</h1>
		<div style="width: 40%; margin: 25px auto;">
			<form action="/kits/<%= kit._id %>/reviews" method="POST">
				<div class="form-group">
					<label>Body of Review</label>
					<input class="form-control" type="text" name="review[text]" placeholder="text">
				</div>
				<!-- ratings -->
				<legend>Rate your experience!</legend>
				<fieldset class="starability-basic">
				  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
				  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
				  <label for="first-rate1" title="Terrible">1 star</label>
				  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
				  <label for="first-rate2" title="Not good">2 stars</label>
				  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
				  <label for="first-rate3" title="Average">3 stars</label>
				  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
				  <label for="first-rate4" title="Very good">4 stars</label>
				  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
				  <label for="first-rate5" title="Amazing">5 stars</label>
				</fieldset>
				<!--we use review[text/author] to group this into an object and so we dont have to do req.body.text AND req.body.author, instead we can do req.body.review in the post request of the reviews route-->
				<button class="btn btn-lg btn-dark btn-block">Submit!</button>
			</form>
		</div>
</div>


<%- include('../partials/footer') %>